@import '_layout';
@import '_header';
@import '_menu';
@import '_sub-menu';
@import '_sidebar';
body {
    background:url(beijing20220411224839.jpg);
    background-repeat: no-repeat;
    background-attachment:fixed; //不重复
    background-size: cover;      //填充
    background-position:50% 50%;
}
